# Отображение/Вычисления
pandas  # Нужен для таблиц
numpy  # Фундамент для вычислений
matplotlib  # Графики
pillow  # Отображение фото в блокноте
xmltodict # Работа с XML как с dict

# Сетевые зависимости
paramiko  # Подключение по sshV2
pysnmp  # SNMP сервер времени
requests  # HTTP запросы
ncclient  # NETCONF протокол

# Интерфейс
jupyterlab-language-pack-ru-RU  # Языковой пакет
ipywidgets  # Виджеты для блокнота

# Разработка
pipdeptree  # Покажет дерево зависимостей
jupyter-collaboration  # Покажет человек которые сидят в блокноте
jupyterlab-execute-time  # Сколько времени работала ячейка
jupyter-resource-usage  # Текущее потребление блокнота
nbgitpuller  # Скачивает git репозитории
jupyterlab-iframe  # Встаривает IFRAME

# Jupyterhub
jupyterhub==5.4.4
